* {

    box-sizing: border-box;

}



body {

    margin: 0;

    font-family: Arial, sans-serif;



    background: url("/static/bg.jpg") no-repeat center center fixed;

    background-size: cover;



    display: flex;

    justify-content: center;

}



/* Lớp làm mờ nền cho chuyên nghiệp */

body::before {

    content: "";

    position: fixed;

    inset: 0;

    background: rgba(0, 43, 91, 0.45);

    z-index: -1;

}



/* Header */

.header {

    position: fixed;

    top: 0;

    width: 100%;

    max-width: 420px;

    background: #002b5b;

    color: white;

    text-align: center;

    padding: 18px;

    font-size: 18px;

    font-weight: bold;

    letter-spacing: 1px;

    border-bottom-left-radius: 15px;

    border-bottom-right-radius: 15px;

}



/* Container chính */

.container {

    background: white;

    width: 90%;

    max-width: 420px;

    margin-top: 90px;

    padding: 25px;

    border-radius: 20px;

    box-shadow: 0 8px 30px rgba(0,0,0,0.35);

}



/* Input & Select */

input, select {

    width: 100%;

    padding: 14px;

    margin-top: 14px;

    border-radius: 12px;

    border: 1px solid #ccc;

    font-size: 14px;

}



/* Button */

button {

    width: 100%;

    padding: 14px;

    margin-top: 18px;

    background: #002b5b;

    color: white;

    border: none;

    border-radius: 12px;

    font-weight: bold;

    font-size: 15px;

    cursor: pointer;

    transition: 0.3s;

}



button:hover {

    background: #004080;

}
button:hover {

    transform: scale(0.97);

}



/* Table */

.table {

    width: 100%;

    border-collapse: collapse;

    margin-top: 15px;

}



.table th {

    background: #002b5b;

    color: white;

    padding: 10px;

    font-size: 13px;

}



.table td {

    padding: 8px;

    border-bottom: 1px solid #ddd;

    text-align: center;

    font-size: 13px;

}

